accelerate
bitsandbytes
huggingface-hub
matplotlib
numpy
pandas
pypdf
python-docx
requests
safetensors
scikit-learn
scipy
seaborn
sentence-transformers
streamlit
tokenizers
torch
transformers
typing_extensions
